.text-center{
	text-align: center;
}

.busca-container{
	text-align: center;
}
.buscar{
	height: 60px;
	width: 80%;
}
.lista-pokemons{
    float:left;
    width:30%;
}

.pokemon-selecionado{
    float:left;
    width:30%;
}

.active{
    background-color:#ccc;
}
